body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: blanchedalmond;
    padding-top: 100px;
}

body > h1, h2 {
    text-align: center;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#count {
    color: red;
}

#clicker {
    background-color: purple;
    color: white;
}

#reset {
    background-color: lightblue;
}

#clicker, #reset {
    border-radius: 6px;
    height: 55px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
}

#clicker:hover {
    background-color: rgb(239, 11, 239);
}

#reset:hover {
    background-color: rgb(23, 183, 236);
}